<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Запись на стрижку</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="https://unpkg.com/imask"></script>
</head>

<body>
    <div class="page-content">
        <div class="card">
            <h1>Запись на стрижку</h1>

            <div class="form-group">
                <label for="date">📅 Дата</label>
                <input type="date" id="date" name="date" required>
            </div>

            <div class="form-group">
                <label>⏰ Время</label>
                <div id="timeSlots" class="time-slots"></div>
            </div>

            <div class="form-group service-card">
                <div class="service-info">
                    <span class="service-label">Услуга</span>
                    <span id="serviceName"></span>

                    <span class="service-label">Цена</span>
                    <span id="servicePrice"></span>
                </div>
            </div>

            <div class="form-group">
                <label>👤 Имя</label>
                <input type="text" id="userName" placeholder="Имя" required>
            </div>

            <div class="form-group">
                <label>📞 Телефон</label>
                <input type="tel" id="userPhone" required placeholder="+7 (000) 000 00-00">
            </div>
            <div class="form-group">
                <label>📍 Адрес</label>
                <div class="address-info">
                    <span id="address"></span>
                </div>
            </div>

            <div class="form-group">
                <label>🎫 Промокод (необязательно)</label>
                <input type="text" id="promoCode" placeholder="Введите промокод">
            </div>

            <button id="submitBtn">Записаться</button>
            <div id="status"></div>
        </div>
    </div>

    <script src="/static/app.js"></script>
</body>

</html>